@import url('https://fonts.googleapis.com/css?family=Gugi');

body{
  background: #ccc;
  font-family: 'Gugi', cursive;
}

.card-content{
  display: flex !important;

}

.card{
  width: 40%;
  cursor: pointer;
}

.UserItem-leftBox{
  width: 20%;
}


.UserItem-rightBox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.UserItem-image{
  width: 120px;
}

.UserItem-name {
  font-size: 1.2em;
  margin: 0;
}

.UserItem-facebook{
  font-size: 1em;
  margin: 0;
}
.Home{
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-Loader{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}